<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button slot="start"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="width: 100%; height: 100%; position: relative;">
        <div style="position: absolute; left: 0; top: 0; width: 100%; height: 200px;">
            <ion-card mode="ios">
                <ion-card-header>
                    <ion-card-subtitle>Gig Details</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem impedit nulla maiores temporibus nam sapiente recusandae? Fugiat voluptatum similique, dolorem pariatur doloribus necessitatibus unde quia sint iusto, minus tempore amet?

                </ion-card-content>
            </ion-card>
        </div>

    </div>

</ion-content>
<ion-footer>
    <div class="runway">
        <div class="sliderbtn">Start Gig</div>
    </div>
</ion-footer>