.customtabs {
    display: flex;
    background-color: white;
    padding: 20px 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.customtabs>div {
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
    color: rgb(204, 202, 202)
}

.customfooter {
    bottom: -9px;
}