<ion-header>
    <ion-toolbar>
        <ion-title>
            Home Page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

    </div>
</ion-content>
<ion-footer class="customfooter">
    <div class="customtabs">
        <div>
            <ion-icon name="home"></ion-icon>
        </div>
        <div>
            <ion-icon name="contacts"></ion-icon>
        </div>
        <div>
            <ion-icon name="chatbubbles"></ion-icon>
        </div>
        <div>
            <ion-icon name="settings"></ion-icon>
        </div>
    </div>

</ion-footer>